.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.displaybox{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% ;
  padding: 5px;
  gap: 4%;
  justify-content: center;
}
.displaybox>div{
  display: flex;
  border: 1px solid rgb(182, 179, 179);
  padding: 2%;
  text-align: left;
}
#imgbox{
  width: 100%;
  border: 1px solid rgb(173, 169, 169);
  object-fit: cover;
}
#displaybox2{
  width: 500px;
  display: flex;
  flex-direction: column;
}
#imgbox2{
  width:400px;
}
.textbox{
  padding: 2%;
}
img {
  width:100%;
  height:100%;
  object-fit:cover;
}
